.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 2rem;
}
.person{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 0.75rem;
    cursor: pointer;
}
.userInfo{
    margin-bottom: 10px;
}