.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    background-color: white;
}

.center {
    width: 75%; 

    background-color: #f0f0f0;
    padding: 20px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}