.body{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex{
    width: 70%;
    max-width: 900px;
    background-color: WHITE;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}