.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    background-color: #f4f4f4;
}

.center {
    width: 75%; 

    background-color: white;
    padding: 20px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header{

}

.button_position{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    background-color: #ff7b00;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}