.display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263BA4;
    gap: 4rem;
    margin-top: 3rem;
}

.text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    border-radius: 2rem;
    margin-right: 40px;
    background-color: #263BA4;
}